* {
    box-sizing: border-box;
}

body {
    font-family: 'Monaco', monospace;
    font-size: 11px;
    line-height: 1.8em;
    background: white;
    margin: 0;
    overflow: auto;
}

p {
    margin-bottom: 0;
    margin-top: 0;
}
