* {
  box-sizing: border-box;
}

body {
  font-family: 'Monaco', monospace;
  font-size: 11px;
  line-height: 1.8em;
  background: white;
  margin: 0;
  overflow: scroll;
}

p {
  margin-bottom: 0;
  margin-top: 0;
}

.token {
  color: #4c3f4c;
  &.lt,
  &.gt
  {
    //color: #67070f;
  }
}

.token--icon {
  margin-left: 5px;
  position: relative;
  //top: 2px;
}

.token--name {
  //margin-right: 5px;
  color: #66256d;
}

.token--attr {
  color: #909090;
  margin-left: 5px;
}
.token--value {
  //color: red
}
.token--key {
  //color: #777777;
}
.token--string {
  //color: #6b6ab0;
  color: #ee2053;
}
.token--search {
  //color: #6b6ab0;
  background: yellow;
}

.node-tree {
  //width: auto;
  //overflow-x: scroll;
}

.node {
  cursor: pointer;
  white-space: nowrap;
}
.node__line {
  position: relative;
  display: flex;
  align-items: center;
}

.node_info--hovered {
  background: #dadada;
}
.node_info--selected {
  background: #66256d;
  .token {
    color: #ffeb3b;
  }
  .token--string {
    color: white;
  }
  .token--search {
    color: black;
  }
}

.node__props {
  font-size: .8em;
  padding-left: 5px;
  background: #1b222d;
  display: none;
}


.node__toggle {
  position: absolute;
  left: -17px;
  background: none;
  outline: 0;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.controls {
  display: flex;
  align-items: center;
}

.controls__button {
  margin-right: 10px;
}

.app {
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.action-bar {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  height: 30px;
  //box-shadow: 0 0 2px black;
  border-bottom: 1px solid silver;
  z-index: 1;
  padding-left: 10px;
  padding-right: 10px;
}

.info-window {
  width: 100%;
  position: fixed;
  top: 30px;
  left: 0;
  background: rgba(255, 255, 255, .95);
  border: 1px solid silver;
  border-top: 0;
  border-bottom-width: 5px;
  border-left: 0;
  border-right: 0;
  padding: 10px 20px;
  overflow: auto;
  max-height: 100vh;
}
.search-bar {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.search-bar__label {
  margin-right: 10px;
}