body {
  font-family: 'Monaco', monospace;
  font-size: 11px;
  line-height: 1.8em;
  background: #eeeeee;
}

p {
  margin-bottom: 0;
  margin-top: 0;
}

.token {
  color: #67070f;
  &.lt,
  &.gt
  {
    color: #67070f;
  }
}

.token--icon {
  margin-left: 5px;
  position: relative;
  top: 2px;
}
.token--attr {
  color: #508aaa
}
.token--value {
  //color: red
}
.token--key {
  color: #777777;
}
.token--string {
  color: #6b6ab0;
}
.token--search {
  color: #6b6ab0;
  background: yellow;
}

.node-tree {
  //width: auto;
  //overflow-x: scroll;
}

.node {
  cursor: pointer;
  white-space: nowrap;
}
.node__line {
  position: relative;
}

.node_info--hovered {
  background: #dadada;
}

.node__props {
  font-size: .8em;
  padding-left: 5px;
  background: #1b222d;
  display: none;
}




.node__toggle {
  position: absolute;
  //top: 2px;
  left: -20px;
  background: none;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.action-bar {
  display: flex;
}

.search-bar {
  margin-left: auto;
}